<%= render 'shared/pagination', :locals => {:target => @presences, :model_index_path => presences_path, :form_id => "per_page_change_form_top", :on_change => "mergeForms('per_page_change_form_top')".html_safe} %>

<%= render "shared/control_buttons", :locals => {:model_class => Presence} %>

<div class="toggle_container">
  <div class="block">

    <%= simple_form_for(@search, :html => {:name => "filter_form"}) do |f| %>
        <%= f.error_notification %>
        <%= f.input :therapy_patient_id_equals, :label => "Paciente", :as => :select, :collection => Patient.actives.order(:nombre) %>
        <%= f.input :therapy_therapist_id_equals, :label => "Terapeuta", :as => :select, :collection => Therapist.actives.order(:nombre) %>

        <div class="from_to">
          <%= label_tag(:fecha_hora_greater_than_or_equal_to, "Fecha") %>
          <%= f.input :fecha_hora_greater_than_or_equal_to, :label => false, :hint => t("simple_form.labels.from"), :as => :string, :input_html => {:class => "datepicker", :size => 10} %>
          <%= f.input :fecha_hora_less_than_or_equal_to, :label => false, :hint => t("simple_form.labels.to"), :as => :string, :input_html => {:class => "datepicker", :size => 10} %>
        </div>

        <div class="from_to">
            <%= label_tag(:importe_greater_than_or_equal_to, t("simple_form.labels.importe")) %>
            <%= f.input :importe_greater_than_or_equal_to, :label => false, :hint => t("simple_form.labels.from"), :as => :string, :input_html => {:size => 10} %>
            <%= f.input :importe_less_than_or_equal_to, :label => false, :hint => t("simple_form.labels.to"), :as => :string, :input_html => {:size => 10} %>
        </div>

        <%= render "shared/submit_form_filter" %>
    <% end %>

  </div>
</div>


<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
  <tr>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :therapy_name, "Paciente" %></th>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :therapy_name, "Terapeuta" %></th>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :fecha_hora, t("simple_form.labels.fecha_hora") %></th>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :importe, t("simple_form.labels.importe") %></th>
    <th class="table-header-options line-left"><a href="#"><%= t("simple_form.labels.actions") %></a></th>
  </tr>

  <% @presences.each do |presence| %>
      <tr class=<%= cycle("alternate-row", "") %>>
        <td><%= presence.therapy.patient.nombre %></td>
        <td><%= presence.therapy.therapist.nombre %></td>
        <td><%= l(presence.fecha_hora, :format => :long_day) %></td>
        <td align="right">$<%= number_to_currency(presence.importe, :unit => "") %></td>
        <%= render 'shared/action_icons', :locals => {:target => presence, :model_edit_path => edit_presence_path(presence)} %>
      </tr>
  <% end %>
</table>

<%= render 'shared/pagination', :locals => {:target => @presences, :model_index_path => presences_path, :form_id => "per_page_change_form_bottom", :on_change => "mergeForms('per_page_change_form_bottom')".html_safe} %>

<%= render "shared/control_buttons", :locals => {:model_class => Presence, :no_filter => true} %>


