<div class="gray_form">
  <%= simple_form_for(@service) do |f| %>

      <div class="inputs">
        <%= f.input :special, :as => :hidden, :input_html => {:value => true} if creating? %>
        <%= f.association :patient %>
        <%= f.association :therapist, :input_html => {:class => "ajax_dropdown", "data-url"=>"/services/ajax_therapist_timetable"} %>
        <%= f.input :from_fecha_hora_string, :as => :string, :input_html => {:class => 'datetimepicker input-text-datetime'} %>
        <%= f.input :to_fecha_hora_string, :as => :string, :input_html => {:class => 'datetimepicker input-text-datetime'} %>
        <%= f.input :service_type, :as => :select, :collection => [Service.terapia_type, Service.valoracion_type, Service.visita_escolar_type], :input_html => {:disabled => true} %>
        <%= f.input :service_type, :as => :hidden, :input_html => {:value => @service.service_type} %>
        <%= f.input :importe, :input_html => {:class => "money"} %>
        <%= f.input :therapist_cost, :input_html => {:class => "money"} if updating? && can?(:manage_therapist_costs, Therapist)%>
        <% if @service.visita_escolar? %>
            <%= f.input :datos_escuela, :input_html => { :rows => 4, :cols => 30 } %>
            <%= f.input :nombre_profesor %>
            <%= f.input :grado_escolar %>
        <% end %>
        <%= f.input :asistido %>
        <%= f.input :cancelado %>
        <%= f.input :motivo_cancelacion, :input_html => { :rows => 4, :cols => 30 } %>
      </div>

      <div id="show_time_ranges_div">

      </div>

      <%= render "shared/submit_form_model", :model_class => Service %>

  <% end %>
</div>


