<table width="100%">
  <tr>
    <td valign="top">
      <h2>Servicios</h2>

      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
        <tr>
          <th class="table-header-repeat line-left"><a href="#">ID</a></th>
          <th class="table-header-repeat line-left"><a href="#">Paciente</a></th>
          <th class="table-header-repeat line-left"><a href="#">Terapeuta</a></th>
          <th class="table-header-repeat line-left"><a href="#">Saldo</a></th>
          <th class="table-header-repeat line-left"><a href="#">Importe</a></th>
          <th class="table-header-repeat line-left"><a href="#">A cobrar</a></th>
          <th class="table-header-repeat line-left"><a href="#"></a></th>
        </tr>
        <% @services_no_asistidos.each do |service| %>
            <% costo_terapia_with_tax = service.patient.costo_terapia_with_tax %>
            <tr class=<%= cycle("alternate-row", "") %>>
              <td><%= service.patient.id %></td>
              <td><%= service.patient.nombre %></td>
              <td><%= service.therapist.nombre %></td>
              <td align="right">$<%= number_to_currency(service.patient.saldo, :unit => "") %></td>
              <td align="right">$<%= number_to_currency(costo_terapia_with_tax, :unit => "") %></td>
              <td align="right">
                <% if service.patient.saldo < costo_terapia_with_tax %>
                    <span style="font-weight:bold; color:red;"><%= "$#{number_to_currency(costo_terapia_with_tax - service.patient.saldo, :unit => "")}" %></span>
                    <%= link_to("(Cobrar)", "/payments/new?patient_id=#{service.patient.id}&importe=#{costo_terapia_with_tax - service.patient.saldo}") %>
                <% end %>
              </td>
              <td align="center">
                  <%= simple_form_for(service, :url => "/services/#{service.id}?from_today=1") do |f| %>
                      <%= f.input :asistido, :as => :hidden, :input_html => {:value => true} %>
                      <%= f.submit "Asistir" %>
                  <% end %>
              </td>
            </tr>
        <% end %>
      </table>

    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td valign="top">
      <h2>Asistencias registradas</h2>
      <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
        <tr>
          <th class="table-header-repeat line-left"><a href="#">ID</a></th>
          <th class="table-header-repeat line-left"><a href="#">Paciente</a></th>
          <th class="table-header-repeat line-left"><a href="#">Terapeuta</a></th>
          <th class="table-header-repeat line-left"><a href="#">Fecha Hora</a></th>
          <th class="table-header-repeat line-left"><a href="#">Importe</a></th>
          <th class="table-header-repeat line-left"><a href="#">Saldo</a></th>
          <th class="table-header-options line-left"><a href="#"><%= t("simple_form.labels.actions") %></a></th>

        </tr>

        <% @services_asistidos.each do |service| %>
            <tr class=<%= cycle("alternate-row", "") %>>
              <td><%= service.patient.id %></td>
              <td><%= service.patient.nombre %></td>
              <td><%= service.therapist.nombre %></td>
              <td><%= l(service.from_fecha_hora, :format => :without_seg) %></td>
              <td align="right">$<%= number_to_currency(service.importe, :unit => "") %></td>
              <td align="right">
                <% if service.patient.saldo < 0 %>
                    <span style="font-weight:bold; color:red;">$<%= number_to_currency(service.patient.saldo, :unit => "") %></span>
                <% else %>
                    $<%= number_to_currency(service.patient.saldo, :unit => "") %>
                <% end %>

              </td>
              <td align="center">
                <%= simple_form_for(service, :url => "/services/#{service.id}?from_today=1") do |f| %>
                    <%= f.input :asistido, :as => :hidden, :input_html => {:value => false} %>
                    <%= f.submit "eliminar" %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>


