<h2><%= locals[:title] %></h2>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" style="margin-top:5px;">
  <tr>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Paciente</a></th>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Terapeuta</a></th>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Desde</a></th>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Hasta</a></th>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Importe</a></th>
  </tr>

  <%  @cancellation.services.each do |service| %>
      <tr class=<%= cycle("alternate-row", "") %>>
        <td><%= service.patient.nombre %></td>
        <td><%= service.therapist.nombre %></td>
        <td><%= l(service.from_fecha_hora, :format => :long_day) %></td>
        <td><%= l(service.to_fecha_hora, :format => :long_day) %></td>
        <td align="right">$<%= number_to_currency(service.importe, :unit => "") %></td>
      </tr>
  <% end %>
</table>