<div class="gray_form">
  <%= simple_nested_form_for(@therapist) do |f| %>

      <div class="inputs">
        <%= f.input :nombre %>
        <% if can?(:see_therapist_costs, Therapist) %>
            <%= f.input :therapy_cost, :input_html => {:class => "money"} %>
            <%= f.input :valoracion_cost, :input_html => {:class => "money"} %>
            <%= f.input :visita_cost, :input_html => {:class => "money"} %>
        <% end %>
        <%= f.association :state, :input_html => {:disabled => creating?} %>
        <%= f.input :state_id, :as => :hidden if creating? %>
      </div>
      <%= render "shared/submit_form_model", :model_class => Therapist %>
  <% end %>
</div>



