<table width="100%">
  <tr>
    <td valign="top">
      <div style="width:350px;">

        <%= render "shared/control_buttons", :locals => {:instance => @therapist} %>

        <table class="show_table">
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.nombre") %>:</b></td>
            <td class="td_data"><%= @therapist.nombre %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.state") %>:</b></td>
            <td class="td_data"><%= @therapist.state.try(:name) %></td>
          </tr>
        </table>
      </div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td valign="top">
      <table width="100%">
        <tr>
          <td valign="top"><%= render "shared/show_due_services" %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<%#= render 'show_time_ranges' %>
<br/>
<table width="100%">
  <tr>
    <td><h2>Horarios </h2></td>
  </tr>
  <tr>
    <td><%= render 'form_time_ranges' %></td>
  </tr>
</table>