<%= render 'shared/pagination', :locals => {:target => @nominas, :model_index_path => nominas_path, :form_id => "per_page_change_form_top", :on_change => "mergeForms('per_page_change_form_top')".html_safe} %>

<div class="buttons">
  <%= link_to image_tag('/images/glyphicons/glyphicons_009_magic.png', :alt => '') + " " + t("helpers.link.create", :model => t("activerecord.models.Nomina")) , new_nomina_path if (listing? && (can? :create, Nomina)) %>
  <%= link_to image_tag('/images/glyphicons/glyphicons_009_magic.png', :alt => '') + " " + "Crear masivamente" , new_massive_nominas_path if (listing? && (can? :create_massive, Nomina)) %>
  <%= render "shared/control_filter", :locals => {:model_class => Nomina} %>
</div>

<div class="toggle_container">
  <div class="block">

    <%= simple_form_for(@search, :html => {:name => "filter_form"}) do |f| %>
        <%= f.error_notification %>
        <%= f.input :nro_nomina_equals, :label => "Folio" %>
        <%= f.input :therapist_id_equals, :label => t("simple_form.labels.therapist"), :as => :select, :collection => Therapist.all %>

        <div class="from_to">
          <%= label_tag(:fecha_greater_than_or_equal_to, t("simple_form.labels.fecha")) %>
          <%= f.input :fecha_greater_than_or_equal_to, :label => false, :hint => t("simple_form.labels.from"), :as => :string, :input_html => {:class => "datepicker", :size => 10} %>
          <%= f.input :fecha_less_than_or_equal_to, :label => false, :hint => t("simple_form.labels.to"), :as => :string, :input_html => {:class => "datepicker", :size => 10} %>
        </div>

        <div class="from_to">
          <%= label_tag(:total_greater_than_or_equal_to, t("simple_form.labels.total")) %>
          <%= f.input :total_greater_than_or_equal_to, :label => false, :hint => t("simple_form.labels.from"), :as => :string, :input_html => {:size => 10} %>
          <%= f.input :total_less_than_or_equal_to, :label => false, :hint => t("simple_form.labels.to"), :as => :string, :input_html => {:size => 10} %>
        </div>

        <%= render "shared/submit_form_filter" %>
    <% end %>

  </div>
</div>


<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
  <tr>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :therapist_name, "Folio" %></th>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :therapist_name, t("simple_form.labels.therapist") %></th>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :fecha, t("simple_form.labels.fecha") %></th>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :total, t("simple_form.labels.total") %></th>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :total, 'Servicios' %></th>
    <th class="table-header-options line-left"><a href="#"><%= t("simple_form.labels.actions") %></a></th>
  </tr>

  <% @nominas.each do |nomina| %>
      <tr class=<%= cycle("alternate-row", "") %>>
        <td><%= nomina.nro_nomina %></td>
        <td><%= nomina.therapist.try(:nombre) %></td>
        <td><%= nomina.fecha %></td>
        <td align="right">$<%= number_to_currency(nomina.total, :unit => '')  %></td>
        <td align="right"><%= nomina.services.count %></td>
        <%= render 'shared/action_icons', :locals => {:target => nomina, :model_edit_path => edit_nomina_path(nomina)} %>
      </tr>
  <% end %>
</table>

<%= render 'shared/pagination', :locals => {:target => @nominas, :model_index_path => nominas_path, :form_id => "per_page_change_form_bottom", :on_change => "mergeForms('per_page_change_form_bottom')".html_safe} %>

<%= render "shared/control_buttons", :locals => {:model_class => Nomina, :no_filter => true} %>


