<table width="98%">
  <tr>
    <td valign="top">
      <div style="width:350px;">

        <%= render "shared/control_buttons", :locals => {:instance => @nomina} %>

        <table class="show_table">
          <tr>
            <td class="td_label"><b>Folio:</b></td>
            <td class="td_data"><%= @nomina.nro_nomina %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.therapist") %>:</b></td>
            <td class="td_data"><%= @nomina.therapist.try(:nombre) %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.fecha") %>:</b></td>
            <td class="td_data"><%= l(@nomina.fecha, :format => :long) if @nomina.fecha %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.total") %>:</b></td>
            <td class="td_data">$<%= number_to_currency(@nomina.total, :unit => '') %></td>
          </tr>
        </table>
      </div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td valign="top">
    <td valign="top"><%= render "shared/show_services", :locals => {:services => @nomina.services, :title => "#{@nomina.services.count} servicios en la nómina"} %></td>
    </td>
  </tr>
</table>


<div class="buttons" style="width:700px; padding:10px; margin-left:auto; margin-right:auto; text-align:center;">
  <%= link_to image_tag('/images/glyphicons/glyphicons_181_download_alt.png', :alt => '') + " " + t("helpers.link.download_pdf"), "/nominas/#{@nomina.id}.pdf" %>
</div>

<div style="width:700px; padding:20px; border:solid 1px; margin-left:auto; margin-right:auto;">
  <%= @nomina.pdf_text.html_safe %>
</div>











