<h2><%= locals[:title] %></h2>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" style="margin-top:5px;">
  <tr>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Paciente</a></th>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Terapeuta</a></th>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Desde</a></th>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Hasta</a></th>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Tipo</a></th>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Importe</a></th>
    <% if can? :manage_therapist_cost, Therapist %>
        <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Costo terapeuta</a></th>
    <% end %>
  </tr>

  <% locals[:services].each do |service| %>
      <tr class=<%= cycle("alternate-row", "") %>>
        <td><%= service.patient.nombre %></td>
        <td><%= service.therapist.nombre %></td>
        <td><%= l(service.from_fecha_hora, :format => :long_day) %></td>
        <td><%= l(service.to_fecha_hora, :format => :long_day) %></td>
        <td><%= service.service_type_name %></td>
        <td align="right">$<%= number_to_currency(service.importe, :unit => "") %></td>
        <% if can? :manage_therapist_cost, Therapist %>
            <td align="right">$<%= number_to_currency(service.therapist_cost, :unit => "") %></td>
        <% end %>
      </tr>
  <% end %>
</table>