<div class="gray_form">
  <%= simple_nested_form_for(@patient) do |f| %>

      <div class="inputs">
        <%= f.input :nombre %>
        <%= f.input :fecha_nacimiento, :as => :string, :input_html => {:class => 'datepicker'} %>
        <%= f.input :nombre_padre %>
        <%= f.input :nombre_madre %>
        <%= f.input :tel_casa %>
        <%= f.input :cel_padre %>
        <%= f.input :cel_madre %>
        <%= f.input :email %>
        <%= f.input :referente %>
        <%= f.input :fecha_ingreso, :as => :string, :input_html => {:class => 'datepicker'} %>
        <%= f.input :recibo_donativo %>
        <%= f.input :factura %>
        <%= f.input :costo_terapia, :placeholder => "MXN", :input_html => {:class => 'money', :disabled => cannot?(:change_costo_terapia, Patient)} %>
        <%= f.input :saldo, :placeholder => "MXN", :input_html => {:class => 'money', :disabled => cannot?(:change_saldo, Patient)} if updating?%>
        <%= f.input :diagnostico, :input_html => {:rows => 4, :cols => 30} %>
        <%= f.input :fecha_alta, :as => :string, :input_html => {:class => 'datepicker'} %>
        <%= f.input :motivo_alta, :input_html => {:rows => 4, :cols => 30} %>
        <%= f.association :state, :include_blank => false, :input_html => {:disabled => creating?} %>
        <%= f.input :state_id, :as => :hidden if creating? %>

        <fieldset style="width:100%; float:left; padding:15px; margin:25px 0 25px 0; border:solid 1px; border-color:#999999;">
          <legend style="color:black; font-weight:bold; font-size:12px;">&nbsp Datos Fiscales &nbsp</legend>
            <%= f.input :nombre_empresa %>
            <%= f.input :rfc %>
            <%= f.input :direccion %>
            <%= f.input :colonia %>
            <%= f.input :delegacion %>
            <%= f.input :cp %>
            <%= f.input :ciudad %>
            <%= f.input :email_empresa %>
        </fieldset>


      </div>
      <%= render "shared/submit_form_model", :model_class => Patient %>

  <% end %>
</div>


