<table width="98%">
  <tr>
    <td valign="top">
      <div style="width:350px;">

        <%= render "shared/control_buttons", :locals => {:instance => @patient} %>

        <table class="show_table">
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.nombre") %>:</b></td>
            <td class="td_data"><%= @patient.nombre %></td>
          </tr>
          <tr>
            <td class="td_label"><b>Fecha nacimiento:</b></td>
            <td class="td_data"><%= @patient.fecha_nacimiento %> (<%= distance_of_time_in_words(Time.now, @patient.fecha_nacimiento, false, :highest_measure_only => true, :locale => :es) if @patient.fecha_nacimiento %>)</td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.nombre_padre") %>:</b></td>
            <td class="td_data"><%= @patient.nombre_padre %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.nombre_madre") %>:</b></td>
            <td class="td_data"><%= @patient.nombre_madre %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.tel_casa") %>:</b></td>
            <td class="td_data"><%= @patient.tel_casa %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.cel_padre") %>:</b></td>
            <td class="td_data"><%= @patient.cel_padre %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.cel_madre") %>:</b></td>
            <td class="td_data"><%= @patient.cel_madre %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.email") %>:</b></td>
            <td class="td_data"><%= @patient.email %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.fecha_ingreso") %>:</b></td>
            <td class="td_data"><%= l(@patient.fecha_ingreso, :format => :long) if @patient.fecha_ingreso %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.recibo_donativo") %>:</b></td>
            <td class="td_data"><%= @patient.recibo_donativo %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.factura") %>:</b></td>
            <td class="td_data"><%= @patient.factura %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.nombre_empresa") %>:</b></td>
            <td class="td_data"><%= @patient.nombre_empresa %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.direccion") %>:</b></td>
            <td class="td_data"><%= @patient.direccion %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.colonia") %>:</b></td>
            <td class="td_data"><%= @patient.colonia %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.delegacion") %>:</b></td>
            <td class="td_data"><%= @patient.delegacion %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.cp") %>:</b></td>
            <td class="td_data"><%= @patient.cp %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.ciudad") %>:</b></td>
            <td class="td_data"><%= @patient.ciudad %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.email_empresa") %>:</b></td>
            <td class="td_data"><%= @patient.email_empresa %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.costo_terapia") %>:</b></td>
            <td class="td_data">$<%= number_to_currency(@patient.costo_terapia, :unit => "") %></td>
          </tr>
          <tr>
            <td class="td_label"><b>Costo con IVA (si aplica):</b></td>
            <td class="td_data">$<%= number_to_currency(@patient.costo_terapia_with_tax, :unit => "") %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.saldo") %>:</b></td>
            <td class="td_data">$<%= number_to_currency(@patient.saldo, :unit => "") %></td>
          </tr>

          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.fecha_alta") %>:</b></td>
            <td class="td_data"><%= @patient.fecha_alta %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.motivo_alta") %>:</b></td>
            <td class="td_data"><%= @patient.motivo_alta %></td>
          </tr>
          <tr>
            <td class="td_label"><b><%= t("simple_form.labels.state") %>:</b></td>
            <td class="td_data"><%= @patient.state.name %></td>
          </tr>

        </table>
      </div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td valign="top">
      <table width="100%">
        <tr>
          <td valign="top"><%= render "shared/show_due_services", :locals => {:title => 'Próximos servicios'} %></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="5"><%= render "show_payments_last_month" %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>







