<%= form_tag update_massive_time_ranges_fixed_therapies_path, :method => :put do %>

    <%= fields_for :fixed_therapy, @fixed_therapy do |fixed_therapy_fields| %>
        <%= fixed_therapy_fields.hidden_field :id %>

    <% last_time_range = nil %>
    <table border="1" width="100%">
      <tr>
        <th>Día</th>
        <th>7:00</th>
        <th>7:30</th>
        <th>8:00</th>
        <th>8:30</th>
        <th>9:00</th>
        <th>9:30</th>
        <th>10:00</th>
        <th>10:30</th>
        <th>11:00</th>
        <th>11:30</th>
        <th>12:00</th>
        <th>12:30</th>
        <th>13:00</th>
        <th>13:30</th>
        <th>14:00</th>
        <th>14:30</th>
        <th>15:00</th>
        <th>15:30</th>
        <th>16:00</th>
        <th>16:30</th>
        <th>17:00</th>
        <th>17:30</th>
        <th>18:00</th>
        <th>18:30</th>
        <th>19:00</th>
        <th>19:30</th>
        <th>20:00</th>
        <th>20:30</th>
        <th>21:00</th>
        <th>21:30</th>
      </tr>

      <% @fixed_therapy.therapist.time_ranges.order_by_day_time.each do |time_range| %>

          <%= fields_for "time_ranges[]", time_range do |f| %>
              <%= !last_time_range.nil? && last_time_range.day != time_range.day ? "</tr>".html_safe : "" %>
              <%= last_time_range.nil? || last_time_range.day != time_range.day ? "<tr> <td>#{t("date.day_names")[time_range.day]}</td>".html_safe : "" %>
              <td align="center" height="30">
                <% if time_range.working_time %>
                    <% taken_by_another =  time_range.taken && time_range.patient_id != @fixed_therapy.patient_id %>
                    <%= f.check_box :taken, :disabled => taken_by_another %>
                    <%= f.hidden_field :patient_id, :value => @fixed_therapy.patient_id unless taken_by_another %>
                    <%= f.hidden_field :fixed_therapy_id, :value => @fixed_therapy.id   unless taken_by_another %>
                <% end %>
              </td>
          <% end %>
          <% last_time_range = time_range %>
      <% end %>
    </table>
    <br/>
    <table>
      <tr>
        <td>
          <div style="float: left;"><b>Aplicar estos horarios a partir del</b> (debe ser entre la fecha de mañana y el <%= DaylyServiceCreation.first.until_date %>):</div>
          <p><%= fixed_therapy_fields.text_field :apply_timetable_from, :class => 'datepicker' %></p>
            <% if @fixed_therapy.errors.any? %>
                <div id="error_explanation" style="float: left;">
                  <ul>
                    <% @fixed_therapy.errors.each do |error| %>
                        <li><%= error.to_s.sub!("apply_timetable_from", "") %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
          <% end %>
          <p style="margin-top: 15px;"><%= submit_tag "Aplicar horarios" %></p>
        </td>
      </tr>
    </table>



<% end %>


