<%= render 'shared/pagination', :locals => {:target => @payments, :model_index_path => payments_path, :form_id => "per_page_change_form_top", :on_change => "mergeForms('per_page_change_form_top')".html_safe} %>

<%= render "shared/control_buttons", :locals => {:model_class => Payment} %>

<div class="toggle_container">
  <div class="block">

    <%= simple_form_for(@search, :html => {:name => "filter_form"}) do |f| %>
        <%= f.error_notification %>
        <%= f.input :patient_id_equals, :label => t("simple_form.labels.patient"), :as => :select, :collection => Patient.actives %>

        <div class="from_to">
            <%= label_tag(:created_at_greater_than_or_equal_to, "Fecha") %>
            <%= f.input :created_at_greater_than_or_equal_to, :label => false, :hint => t("simple_form.labels.from"), :as => :string, :input_html => {:size => 10, :class => "datepicker"} %>
            <%= f.input :created_at_less_than_or_equal_to, :label => false, :hint => t("simple_form.labels.to"), :as => :string, :input_html => {:size => 10, :class => "datepicker"} %>
        </div>

        <% if can? :see_importe, Payment %>
            <div class="from_to">
                <%= label_tag(:importe_greater_than_or_equal_to, t("simple_form.labels.importe")) %>
                <%= f.input :importe_greater_than_or_equal_to, :label => false, :hint => t("simple_form.labels.from"), :as => :string, :input_html => {:size => 10} %>
                <%= f.input :importe_less_than_or_equal_to, :label => false, :hint => t("simple_form.labels.to"), :as => :string, :input_html => {:size => 10} %>
            </div>
        <% end %>


        <%= render "shared/submit_form_filter" %>
    <% end %>

  </div>
</div>


<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
  <tr>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :patient_name, "Paciente" %></th>
    <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :created_at, "Fecha" %></th>
    <% if can? :see_importe, Payment %>
        <th class="table-header-repeat line-left minwidth-1"><%= sort_link @search, :importe, t("simple_form.labels.importe") %></th>
    <% end %>
    <th class="table-header-options line-left"><a href="#"><%= t("simple_form.labels.actions") %></a></th>
  </tr>

  <% @payments.each do |payment| %>
      <tr class=<%= cycle("alternate-row", "") %>>
        <td><%= payment.patient.try(:nombre) %></td>
        <td><%= l(payment.created_at, :format => :long_day) %></td>
        <% if can? :see_importe, Payment %>
            <td align="right">$<%= number_to_currency(payment.importe, :unit => "") %></td>
        <% end %>
        <%= render 'shared/action_icons', :locals => {:target => payment, :model_edit_path => edit_payment_path(payment)} %>
      </tr>
  <% end %>
</table>

<%= render 'shared/pagination', :locals => {:target => @payments, :model_index_path => payments_path, :form_id => "per_page_change_form_bottom", :on_change => "mergeForms('per_page_change_form_bottom')".html_safe} %>

<%= render "shared/control_buttons", :locals => {:model_class => Payment, :no_filter => true} %>


